*~
*.o
*.lo
*.la
*.log
*.trs

Makefile
Makefile.in
.deps
.libs

/autom4te.cache
/aclocal.m4
/compile
/config.*
/configure
/depcomp
/install-sh
/libtool
/ltmain.sh
/missing
/stamp-h1
/test-driver
/gtk-doc.make

/m4/libtool.m4
/m4/ltoptions.m4
/m4/ltsugar.m4
/m4/ltversion.m4
/m4/lt~obsolete.m4
/m4/gtk-doc.m4

/src/libmccr/mccr.pc

/src/mccr-cli/mccr-cli

/src/mccr-gtk/mccr-gtk
/src/mccr-gtk/mui-resources.*

/src/mccr-gtk/test/test-remote-service-utils

/doc/reference/xml/
/doc/reference/html/
/doc/reference/version.xml
/doc/reference/libmccr-decl.txt
/doc/reference/libmccr-decl.txt.bak
/doc/reference/libmccr-overrides.txt
/doc/reference/libmccr-undeclared.txt
/doc/reference/libmccr-undocumented.txt
/doc/reference/libmccr-unused.txt
/doc/reference/libmccr.args
/doc/reference/libmccr.hierarchy
/doc/reference/libmccr.interfaces
/doc/reference/libmccr.prerequisites
/doc/reference/libmccr.signals
/doc/reference/libmccr.types
/doc/reference/libmccr-decl-list.txt
/doc/reference/*.stamp

/examples/example-info
/examples/example-swipe
